.App {
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-direction: row;
}


.articleStyle {
  display: inline-flex;
  flex-direction: row;
  margin-right: 5%;
  flex-flow: row wrap;
  box-shadow: 5px 19px 38px rgba(0,0,0,.2),0 15px 12px rgba(0,0,0,.12);
  background-color: whitesmoke;
  width: 500px;
  height: 405px;
  border-radius: 8px;
  margin-top: 1%;
  margin-left: 8%;
  margin-bottom: 2%;
  max-height: 405px;
}

#img {
  width: 500px;
  height: 210px;
  background-image:url(https://i.ytimg.com/vi/c7oV1T2j5mc/maxresdefault.jpg);
  background-size: 100% 100%;
}


#articleTitle {
  font-family: Playfair display;
  padding-right: 3px;
  font-stretch: condensed;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-left: 10px;
  line-height: 100%;
}

#para {
  color: #575757;
  padding: 0 10px;
  margin-bottom: 0;
  font-family: Roboto Slab;
}





/* Css Heart Button */
input[type=checkbox] {
	clear: both;
	display: none;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + label svg {
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	fill: rgb(220, 72, 127);
	transform: scale(1.3);
	-webkit-transform: scale(1.3);
}

input[type="checkbox"]:checked + label:after {
	-webkit-animation: like-a 0.3s 0.2s forwards;
	-moz-animation: like-a 0.3s 0.2s forwards;
	animation: like-a 0.3s 0.2s forwards;
}

input[type="checkbox"]:checked + label:before {
	-webkit-animation: like-a 0.5s 0s forwards;
	-moz-animation: like-a 0.5s 0s forwards;
	animation: like-a 0.5s 0s forwards;
}

label svg {
  padding: 10px 10px;
	width: 35px;
  fill: rgb(167, 167, 167);
  align-self: flex-start;
  order: 0;
  cursor: pointer;
}

#likeCounter {
  align-self: flex-end;
  color: darkgray;
  order: 1;
  padding: 5px 5px;
  font-family: 'Roboto';
  font-size: 15px;
  margin-bottom: 15px;
}